name: Reusable Workflow

on:
  workflow_call:
    inputs:
      my_variable:
        description: 'A custom variable'
        required: true
        type: string
    secrets:
      my_secret:
        description: 'A secret input'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    

    steps:
    - name: Check out the code
      uses: actions/checkout@v2

    - name: Use the variable
      run: |
        echo "My variable: ${{ inputs.my_variable }}"
        echo "Secret Value: ${{ secrets.secret_input }}"

